<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "LAPSA") %></title>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', 'application', 'fullcalendar' %>
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "jquery.rest.js" %>
    <%= javascript_include_tag "rails2.js" %>
    <%= javascript_include_tag "application.js" %>
 
    <!-- these are needed for the calendar. -->
    <%= javascript_include_tag "jquery-ui-1.8.11.custom.min.js" %>
    <%= javascript_include_tag "fullcalendar.js" %>
    <%= javascript_include_tag "calendar.js" %>
    <%= active_scaffold_includes %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, message| %>
          <%= content_tag(:div, message, :class => "flash #{key}") %>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>


  </body>

</html>
